.container {
    display: flex;
    height: 600px;
    width: 1200px;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
    /* flex-direction:column-reverse ; */
    flex-wrap: wrap;
    /* flex-flow: column wrap; */
    /* justify-content:flex-end; */
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 20px 30px;
}

.item {
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: brown;
    flex-grow: 2;
    align-self: flex-end;
}

.item4 {
    order: -1;
    flex-grow: ;

}