.container {
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: lightgrey;

grid-template-columns: 1fr 1fr 1fr 1fr;
/* grid-template-columns:250px 250px 250px 250px ; */
grid-template-rows: repeat(3 , 1fr);
/* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */

column-gap: 10px;
/* justify-items: center;
align-items: center; */

place-items: center;
}


.item{
    border: 1px solid black;
    background-color: lightblue;
    /* height: 100px;
    width: 100px; */
    text-align: center; 
    align-content: center; 
}

/* .item1
{
    grid-area: header ; 
}





.item2
{
    grid-area:main ; 
}


.item3
{
    grid-area: sidebar; 
}


.item4
{
    grid-area:footer ; 
} */