*{
    margin: 0;
    padding: 0;
}


p{
    color:blue;

}
.jk{
    color:red;
    background-color:blueviolet;
    text-align:center;
    font-size:20px;
    padding:20px;


}
body{
   background-color:aqua;
}
#l1{
    color:red;
}
div{
    height: 580px;
    width:380px;
    background-color:greenyellow;
    border: 1px double black;
    padding: 10px;
    margin-left:150px; 

}
