.container{
    border: 2px solid black;
    height: 480px;
    width: 1080px;


}
.box{
    border: 2px;
    width: 30px;
    height: 45px;
    text-align: center;

}

.box1{
background-color: yellowgreen;
}


.box2{

background-color:red;
}
.box3{
background-color: blue;
}