


.outer-box {
    margin: 20px;
    margin-left: 25px;
    justify-content: center;
    background-color: blue;
    padding: 50px;
}

.inner-box {
    background-color: yellow;
    padding: 50px;
}

.text-inside {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bolder;}

.parent-box {
    justify-content: center;
    max-width: 800px;
    border: 3px solid black;
}